@media (max-width: 768px) {
	.card-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.card-content {
		align-items: center;
	}
	.card-image {
		margin-top: 0;
	}
	#projectGrid {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 640px) {
	.hide-on-mobile {
		display: none;
	}
	.menu-button {
		display: block;
	}
	.col-25,
	.col-75,
	input[type="submit"] {
		width: 100%;
		margin-top: 0;
	}
	.col-hide {
		display: none;
	}
	.project-tech {
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}
	.star-list {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 475px) {
	#projectGrid {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 320px) {
	.sidebar {
		width: 100%;
	}
	.card-link {
		flex-direction: column;
		gap: 2rem;
	}
	.card-image img {
		max-width: 100%;
	}
}
