:root {
	/* Use for: Text, Icons */
	--color-text: #0a0a0a;
	/* Use for: Headers, Navigation */
	--color-header: #262626;
	/* Use for: Secondary Text */
	--color-secondary: #404040;
	/* Use for: Borders, Dividers */
	--color-border: #595959;
	/* Use for: Disabled States */
	--color-disabled: #808080;
	/* Use for: Placeholders */
	--color-placeholder: #a6a6a6;
	/* Use for: Backgrounds, Cards */
	--color-card: #d9d9d9;
	/* Use for: Page Background */
	--color-background: #f2f2f2;
	/* User for hover/active colors */
	--color-hover-dark: #404040;
	--color-active-dark: #595959;
	--color-hover-light: #c0c0c0;
	--color-active-light: #a6a6a6;
}
* {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	box-sizing: border-box;
}
html {
	font-size: calc(60% + 0.8vmin);
	height: 100%;
}
body {
	font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
	color: var(--color-text);
	background-color: var(--color-background);
	min-height: 100vh;
}
h1 {
	font-size: 2.2rem;
}
h2 {
	font-size: 1.6rem;
}
h3 {
	font-size: 1.3rem;
}

/* button states */

.button {
	background-color: var(--color-header);
	color: white;
	border: 1px solid var(--color-border);
	border-radius: 0.5rem;
	padding: 0.75rem 1.25rem;
	width: 100%;
	cursor: pointer;
	transition: background-color 0.2s;
}
.button:hover {
	background-color: var(--color-hover-dark);
	border: 1px solid var(--color-border);
}
.button:active {
	background-color: var(--color-active-dark);
	border: 1px solid var(--color-border);
}
.button.secondary {
	background-color: var(--color-card);
	color: var(--color-text);
	border: 1px solid var(--color-border);
}
.button.secondary:hover {
	background-color: var(--color-hover-light);
	border: 1px solid var(--color-border);
}
.button.secondary:active {
	background-color: var(--color-active-light);
	border: 1px solid var(--color-border);
}
button:disabled {
	color: white;
	background-color: var(--color-disabled);
	border: 1px solid var(--color-border);
	cursor: not-allowed;
}
button:disabled:hover {
	background-color: var(--color-disabled);
	border: 1px solid var(--color-border);
}
.btn-fit {
	width: fit-content;
}

/* input states */

input,
select,
textarea {
	width: 100%;
	padding: 0.75rem;
	border: 1px solid var(--color-border);
	border-radius: 0.5rem;
	transition: border-color 0.2s, box-shadow 0.2s;
	font-family: Arial, Helvetica, sans-serif;
}
input:hover {
	border-color: var(--color-hover-dark);
}
input:focus {
	outline: none;
	border-color: var(--color-header);
	box-shadow: 0 0 0 2px rgba(38, 38, 38, 0.1);
}
input::placeholder {
	color: var(--color-placeholder);
}
.custom-select select {
	appearance: none;
	cursor: pointer;
}

/* navbar & footer */

nav {
	background-color: var(--color-header);
	box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.2);
}
nav ul {
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
nav li {
	height: 4rem;
}
nav a {
	height: 100%;
	padding: 0 2rem;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: white;
}
nav a:hover {
	background-color: var(--color-hover-dark);
}
nav li:first-child {
	margin-right: auto;
}
.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 15rem;
	background-color: var(--color-header);
	list-style: none;
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	transition: transform 0.2s, box-shadow 0.2s;
}
.sidebar li {
	width: 100%;
}
.sidebar a {
	width: 100%;
}
.menu-button {
	display: none;
}
.link-active {
	background-color: var(--color-hover-dark);
	font-weight: bold;
}
nav .user {
	height: 100%;
	padding: 0 2rem;
	display: flex;
	align-items: center;
	text-decoration: none;
}
.user {
	color: #f2f2f2;
}

footer {
	background-color: var(--color-secondary);
	color: white;
	text-align: center;
	width: 100%;
	padding: 1rem;
	line-height: 2rem;
}
footer a {
	color: white;
	text-decoration: none;
}

/* index */

.hero {
	display: flex;
	flex-direction: row;
	gap: 3rem;
	background-color: white;
	padding: 4rem;
	margin: 4vw auto;
	border-radius: 0.75rem;
}
.hero-content {
	align-content: center;
}
.hero-desc h1 {
	margin-bottom: 1em;
}
.hero-desc p {
	text-align: justify;
}
.hero-link {
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}
.hero-social {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}
.hero-social img {
	width: 2rem;
	height: 100%;
	object-fit: contain;
}
.hero-image {
	border-radius: 0.75rem;
	box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.8);
	transition: transform 0.1s, box-shadow 0.1s;
	cursor: pointer;
}
.hero-image:hover {
	box-shadow: 4px 4px 8px rgba(128, 128, 128, 0.8);
	transform: translateY(-1.5px);
}
.hero-image img {
	width: 20vw;
	border-top-left-radius: 0.75rem;
	border-top-right-radius: 0.75rem;
}
.hero-name {
	padding-bottom: 0.5em;
	border-bottom-left-radius: 0.75rem;
	border-bottom-right-radius: 0.75rem;
}
.hero-name h2,
p {
	text-align: center;
}

/* todo resume  */

.resume-container {
	margin: 4vw auto;
}

/* contact */

.form-contact {
	margin: 4vw auto;
}
legend {
	margin: 4vw auto;
	text-align: center;
}
hr {
	width: 100%;
	margin: 1em auto;
}
label {
	padding: 1rem 1rem 1rem 0;
	display: inline-block;
}
.col-25 {
	float: left;
	width: 25%;
	margin-top: 1rem;
}
.col-50 {
	float: left;
	width: 50%;
	margin-bottom: 1rem;
}
.col-75 {
	float: left;
	width: 75%;
	margin-top: 1rem;
}
.row::after {
	content: "";
	display: table;
	clear: both;
}
.contact-btn {
	float: right;
	width: 100px;
}

/* todo project */

.project-container {
	margin: 4vw auto;
}
.project-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
	gap: 1.5rem;
}
.project-card {
	position: relative;
	background: white;
	padding: 1.5rem;
	border: 1px solid var(--color-border);
	border-radius: 0.75rem;
	transition: transform 0.1s, box-shadow 0.2s;
}
.project-card:hover {
	box-shadow: 3px 3px 6px rgba(128, 128, 128, 0.8);
	transform: translateY(-1.5px);
	.project-card-add img {
		transform: rotate(90deg);
	}
}
.project-card-image img {
	width: 100%;
	border-radius: 0.75rem;
	object-fit: cover;
}
.project-card-name h3 {
	text-align: left;
	margin: 1rem auto;
}
.project-card-time p {
	text-align: left;
}
.project-card-content p {
	text-align: justify;
	margin: 1em auto;
}
.project-card-tech {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	margin: 1rem auto;
	z-index: 1;
	position: relative;
}
.project-card-tech img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.tech-border {
	width: 2.5rem;
	height: 2.5rem;
	border: solid 1px lightgray;
	border-radius: 0.5rem;
	padding: 0.5rem;
}
.tech-border:hover {
	box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.8);
	cursor: default;
}
.project-card-action {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1rem;
}
.project-btn {
	width: 100%;
	z-index: 1;
	position: relative;
}
.project-card-link {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	position: absolute;
}
.project-card-add {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.project-card-add img {
	width: 100%;
	transition: transform 0.2s;
}

/* project add */

.form-date {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
.project-tech {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1rem;
	list-style: none;
}
.project-tech li {
	display: flex;
	gap: 0.5rem;
}
.project-tech li label {
	padding: 0;
	cursor: pointer;
}
input[type="date"]::-webkit-calendar-picker-indicator {
	cursor: pointer;
}
input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;
	background-color: white;
	margin: 0;
	font: inherit;
	color: white;
	width: 1.75rem;
	height: 1.75rem;
	border: 1px solid var(--color-border);
	border-radius: 0.5rem;
	transform: translateY(-0.075em);
	display: grid;
	place-content: center;
	cursor: pointer;
}
input[type="checkbox"]::before {
	content: "";
	width: 1rem;
	height: 1rem;
	transition: 100ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--color-border);
	transform: scale(0);
	transform-origin: bottom left;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked::before {
	transform: scale(1);
}
input[type="file"]::file-selector-button {
	color: white;
	background-color: var(--color-text);
	border: none;
	border-radius: 0.5rem;
	padding: 0.75rem 1rem;
	text-decoration: none;
	cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
	background-color: gray;
}

/* todo project detail */

.detail-container {
	margin: 1vw auto 4vw;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.detail {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}
.detail-image {
	width: 75%;
}
.detail-image img {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	object-fit: cover;
}
.detail-info {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 25%;
}
.detail-info-time h3 {
	text-align: left;
	margin: 1em auto;
}
.detail-info-time p {
	text-align: left;
	margin: 1em auto;
}
.detail-info-tech {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.info-tech {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}
.tech {
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
	align-items: center;
}
.detail-info-tech img {
	width: 2rem;
}
.detail-content p {
	text-align: justify;
}

/* todo testimonial */

.testimonial-container {
	margin: 4vw auto;
}
.testimonial-star {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
}

/* 404 */

.notfound {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 4vw;
	padding: 8vw;
	border-radius: 2rem;
	background-color: var(--color-card);
}
.notfound h1 {
	font-size: 8rem;
	margin-bottom: 1rem;
	position: relative;
	text-shadow: 4px 4px 1px rgba(100, 100, 100, 0.75);
}
.notfound h1::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 0.5rem;
	background: red;
	bottom: 0.25rem;
	left: 0;
	animation: glitch 1.5s infinite;
}
.notfound p {
	font-size: 1.25rem;
	margin-bottom: 2rem;
	opacity: 0.8;
}
@keyframes glitch {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-5px);
	}
	50% {
		transform: translateX(5px);
	}
	75% {
		transform: translateX(-5px);
	}
	100% {
		transform: translateX(0);
	}
}

/* auth */

.form-auth {
	width: 50vw;
	margin: 4vw auto;
}
.link-regist {
	color: var(--color-text);
	font-weight: 500;
	text-decoration: none;
}
.link-regist:hover {
	border-bottom: 1px solid var(--color-border);
	padding-bottom: 0.25em;
}

/* alert */

.alert {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	padding: 0.75rem;
	border-radius: 0.5rem;
}

.alert.alert-primary {
	background-color: #3b71ca;
}
.alert.alert-secondary {
	background-color: #9fa6b2;
}
.alert.alert-success {
	background-color: #14a44d;
}
.alert.alert-danger {
	background-color: #dc4c64;
}
.alert.alert-warning {
	background-color: #e4a11b;
}
.alert.alert-info {
	background-color: #54b4d3;
}
